html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Courier New", Courier, monospace;
  line-height: 1.3;
  margin: 0px;
  padding: 0px;
  background-color: rgb(248, 244, 234);
}
